*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ol, ul, li{
    list-style: none;
}

a{
    text-decoration: none;
}

.App{
    background-color: rgba(154, 255, 129, 0.5);
    text-align: center;
}

.container{
    
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    max-width: 540px;
    margin: 0 auto;
    min-height: 100vh;
}

.sudoku{
    border-collapse: collapse;
}

.sudoku-field{
    border: 1px solid grey;
    padding: 14px 20px;
    background-color: rgba(108, 201, 255, 0.75);
    cursor: pointer;
}

.active-field{
    background-color: rgba(201, 108, 255, 0.75);
}

.wrong-field{
    background-color: rgba(255, 94, 94, 0.800);
}

.sudoku td:nth-of-type(3){
    border-right: 3px solid black;
}

.sudoku tr:nth-of-type(even){
    border-bottom: 3px solid black;
}

.sudoku tr:nth-of-type(6){
    border-bottom: none;
}

.value{
    display: flex;
    gap: 7px;
}

.link{
    font-size: 22px;
}